/* Banner Image with Hero Image and Text */

/*img =  https://unsplash.com/photos/X8ml8C4KTrg */
body {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(30,115,172,0.7), rgba(142,57,153,0.6)), url(race.jpeg);
    background-size: cover;
    justify-content: center;
    /* background-position: 35% 50%; */
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative; */
}
.rankForm {
    justify-content: center;
    text-align: center;
    margin: 10%, 10px;
}

table, th, td {
    background-color: blue;
    text-align: center;
    margin: 10%;
    border: 10px solid black;
}
.btn-primary{
    background-color: coral;
}

